<div class="row space-8 about-first">
  <div class="col-xs-12">
    <div class="container">
      <h1 class="centered">Find the right book for you.</h1>

      <h2 class="sub-header">Millions of books are available are your fingertips.</h2>


    </div>
  </div>
</div>  
<div class="row about-second">
  <div class="col-xs-12">
    <div class="container">
      <h2 class="centered space-top-8">Read It? Provides Several Helpful Features.</h2>
      <div class="row space-top-8">
        <div class="col-xs-4">
          <div class="round-border">
            <span class="helper"></span><img class="about-img" src="http://books.google.com/books/content?id=ohZ1wcYifLsC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="round-border">
            <span class="helper"></span><img class="about-img" src="http://books.google.com/books/content?id=ohZ1wcYifLsC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">   
          </div>
        </div>
        <div class="col-xs-4">
          <div class="round-border">
            <span class="helper"></span><img class="about-img" src="http://books.google.com/books/content?id=ohZ1wcYifLsC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
          </div>
        </div>
      </div>

      <div class="row about-second-details space-top-4">
        <div class="col-xs-4 border-right">
          <h3>Generous Collection of Books.</h3>
          <ul>
            <li>Search through Google's database of books.</li>
          </ul>
        </div>
        <div class="col-xs-4 border-right"> 
          <h3>Add Your Favorites.</h3>
          <ul>
            <li>See something you like? Add it to your personal collection</li>
            <li>After creating an account you can create your own library!</li>
          </ul>
        </div>
        <div class="col-xs-4">          
          <h3>Write Your Own Reviews!</h3>
          <ul>
            <li>If you've had a powerful experience with a book, let others know.</li>
            <li>Read reviews to see which book is right for you.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>  