
<div class="col-md-12 space-8">
</div>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 space-4-bot">
    <h3 class="centered">Search For Books</h3>
    <div class="search-div">
        <input type="text" placeholder="Search Books" id="searchBox" name="searchBox" class="form-control">
        <input type="submit" value="Search" class="searchButton form-control btn-primary">
    </div>
    
  </div>
  <div class="col-md-1">
    <input type="hidden">
  </div>
  <div class="col-md-3">
    <% if current_user %>
        <%= link_to "My Reviews", user_messages_path(current_user.id) %>
    <% else %>
        <p>Not a Member? <%= link_to "Sign Up", users_path %>     
    <% end %> 
  </div>
</div>

<div class="container main-back">
  <div class="main">
    
  </div>
</div>

<script id="book-template" type="text/x-handlebars-template">
  <div class="entry">
    {{#each this.books}}
      <div class="col-md-2 even-div">
        <a href="/books/{{id}}" class="show-book"><div class="overlay-wrapper">
          <span class="focus-overlay"></span>
          <img src={{img}} height="200" width="150"><input type="hidden" value="{{id}}" name="{{id}}" class="bookId"><input type="hidden" value="{{title}}" name="{{title}}" class="bookTitle"><br>
        </div></a>  
        <div class="book-info">
          <a href="/books/{{id}}" class="show-book"><p class="title">{{dispTitle}}</p><input type="hidden" value="{{id}}" name="{{id}}" class="bookId"><input type="hidden" value="{{title}}" name="{{title}}" class="bookTitle"></a>
          <a href="/books/{{id}}" class="show-book"><p class="authors">{{authors}}</p><input type="hidden" value="{{id}}" name="{{id}}" class="bookId"><input type="hidden" value="{{title}}" name="{{title}}" class="bookTitle"></a>
          <p class="{{id}} addBook"><a href="/books" class="addBook">Add To Favorites<input type="hidden" value="{{id}}" name="{{id}}" class="bookId"><input type="hidden" value="{{title}}" name="{{title}}" class="bookTitle"></a></p>
        </div>  
      </div>
    {{/each}}
  </div>
</script>