
<div class="col-md-12 space-8">
</div>

<div class="row">
  <div class="col-md-4" >
  </div>
  <div class="col-md-4 space-4-bot">
    <h3 class="centered">Search For Books</h3>
    <form class="search-div"> 
      <div class="input-group search-div">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Search</button>
        </span>
        <input type="text" id="searchBox" name="searchBox" class="form-control search" placeholder="Search for Books...">
      </div>
    </form>  
    
  </div>
  <div class="col-md-1">
    <input type="hidden">
  </div>
</div>

<div class="container main-back">
  <div class="main">
    
  </div>
</div>

<script id="book-template" type="text/x-handlebars-template">
  <div class="entry">
    {{#each this.books}}
      <div class="col-md-2 even-div">
        <a href="/books/{{id}}" class="show-book">
          <div class="overlay-wrapper">
            <span class="focus-overlay"></span>
            <img src={{img}} height="200" width="150">
            <input type="hidden" value="{{el}}" class="bookEl">
          </div>
        </a>  
        <div class="book-info">
          <a href="/books/{{id}}" class="show-book">
            <div>
              <p class="title">{{dispTitle}}</p>
              <input type="hidden" value="{{el}}" class="bookEl">
            </div>  
          </a>
          <a href="/books/{{id}}" class="show-book">
            <div>
              <p class="authors">{{authors}}</p>
              <input type="hidden" value="{{el}}" class="bookEl">
            </div>  
          </a>
          <% if current_user %>   
            <p class="{{id}} addBook">
              <a href="/users/<%= current_user.id %>/messages" class="addBook">Add To Favorites
                <input type="hidden" value="<%= current_user.id %>" class="userId">
                <input type="hidden" value="{{el}}" class="bookEl">
              </a>
            </p>
          <% end %>  
        </div>  
      </div>
    {{/each}}
  </div>
</script>