<div class="space-8 container book-show">
  <div class="col-md-12">
    <h2 class="bookShowTitle"></h2>
  </div>  

  <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 border-bot">
        <div class="row space-1-top">
          <div class="col-md-3 bookShowImg"></div>
          <div class="col-md-9">
            <div class="col-md-12">

              <div class="col-md-5 size-2 bookShowRating"></div>

              <div class="col-md-3"></div>

            </div>
            <div class="col-md-12 space-1-top">

            </div>  
          </div>  
        </div>  

  
          
      </div> 
      <div class="col-md-3">
      </div> 
  </div>

  <div class="row">    
    <div class="col-md-3">
    </div>  
    <div class="col-md-6 min-height-5">  
      <h2>Reviews</h2>

    </div>
    <div class="col-md-3">
    </div>  
  </div>  
</div>
<%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
<script>
  paramsCheck();
</script>