<div ng-controller="BookCtrl">
  <div class="space-8 container">
    <div class="row">
      <div class="col-md-3">
      </div>

      <div class="col-md-6">
        <h2>{{book.volumeInfo.title}}</h2><br>
        
        <form>
          <input type="input" placeholder="Review Title" class="form-control" ng-model="reviewTitle">
          <input type="textarea" placeholder="Enter Review" class="form-control" ng-model="review">
          <input type="hidden" name="message_user_id[{{book.id}}]" ng-model="book_id=book.id">
          <input type="submit" value="Edit Message" class="btn-primary form-control" ng-click="createMessage()">
        </form>  
        
      </div>
      <p>title: {{reviewTitle}}, review: {{review}}, bookId: {{book_id}}</p>
      <div class="col-md-3">
      </div>  
    </div>

    <div class="row">
      <div class="col-md-5">
      </div>

      <div class="col-md-2 space-2-top">
        <%= link_to "Delete", book_message_path(@message.book_id,@message.id), method: :delete,class:"btn-danger btn centered" %>
      </div>

      <div class="col-md-5">
      </div>
    </div>  
    {{messages}}
  </div>
</div>