<div ng-controller="BookListCtrl">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 space-4-bot">
      <h3 class="centered">Search For Books</h3>
      <div class="search-div">
          <input type="text" placeholder="Search Books" id="searchBox" name="searchBox" class="form-control" ng-model="query">
          <input type="submit" value="Search" class="searchButton form-control btn-primary" ng-click="search(query)">
      </div>
    </div>
    <div class="col-md-1">
      <input type="hidden">
    </div>
    <div class="col-md-3">
      <% if current_user %>
          <%= link_to "My Reviews", user_messages_path(current_user.id) %>
      <% else %>
          <p>Not a Member? <%= link_to "Sign Up", users_path %>     
      <% end %> 
    </div>
  </div>
  <div ng-repeat="book in data.items">
    <div class="col-md-2 even-div">
        <a href="" ng-click="getBook(book.id)" class="show-book"><div class="overlay-wrapper">
          <span class="focus-overlay"></span>
          <img ng-src={{book.volumeInfo.imageLinks.thumbnail}} height="200" width="150"><input type="hidden" value="{{book.id}}" name="{{book.id}}" class="bookId"><input type="hidden" value="{{book.volumeInfo.title}}" name="{{book.volumeInfo.title}}" class="bookTitle"><br>
        </div></a>  
        <div class="book-info">
          <a href="" ng-click="getBook(book.id)" class="show-book"><p class="title">{{book.volumeInfo.title}}</p><input type="hidden" value="{{book.id}}" name="{{book.id}}" class="bookId"><input type="hidden" value="{{book.volumeInfo.title}}" name="{{book.volumeInfo.title}}" class="bookTitle"></a>
          <a href="/books/#/{{book.id}}" ng-click="getBook(book.id)" class="show-book">
          <div ng-repeat="author in book.volumeInfo.authors">
            <p class="authors">{{author}}</p>
          </div>
            <input type="hidden" value="{{book.id}}" name="{{book.id}}" class="bookId"><input type="hidden" value="{{book.volumeInfo.title}}" name="{{book.volumeInfo.title}}" class="bookTitle"></a>
          <p class="{{book.id}} addBook"><a href="/books" class="addBook">Add To Favorites<input type="hidden" value="{{book.id}}" name="{{bookid}}" class="bookId"><input type="hidden" value="{{book.volumeInfo.title}}" name="{{book.volumeInfo.title}}" class="bookTitle"></a></p>
        </div>  
    </div>            
</div>