// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.space-8 {
  margin-top:80px;
}
.space-4-bot {
  margin-bottom:40px;
}
.main-back {
  background-color: #eee;
}
#navbar {
  color:white;
}
.even-div {
  height:340px;
}